In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from datetime import datetime

In [91]:
aqi = pd.read_csv(".\RawData\ispu_dki1.csv", index_col="tanggal")
aqi = aqi.drop(columns=['max'])
aqi = aqi.drop(columns=['critical'])
aqi = aqi.drop(columns=['pm25'])
aqi = aqi.drop_duplicates()

In [92]:
aqi.apply(pd.isnull).sum()

stasiun       0
pm10        101
so2          66
co           41
o3           94
no2          84
categori      0
dtype: int64

In [93]:
for col in ["pm10", "so2", "co", "o3", "no2"]:
    # Get the most frequent (mode) value of the column
    mode_value = aqi[col].mode()[0]
    # Fill NaN values with the mode
    aqi[col] = aqi[col].fillna(mode_value)

In [94]:
aqi.apply(pd.isnull).sum()/aqi.shape[0]

stasiun     0.0
pm10        0.0
so2         0.0
co          0.0
o3          0.0
no2         0.0
categori    0.0
dtype: float64

In [95]:
aqi.dtypes

stasiun      object
pm10        float64
so2         float64
co          float64
o3          float64
no2         float64
categori     object
dtype: object

In [96]:
aqi

                       stasiun  pm10   so2    co    o3   no2 categori
tanggal
2010-01-01  DKI1 (Bunderan HI)  60.0   4.0  73.0  27.0  14.0   SEDANG
2010-01-02  DKI1 (Bunderan HI)  32.0   2.0  16.0  33.0   9.0     BAIK
2010-01-03  DKI1 (Bunderan HI)  27.0   2.0  19.0  20.0   9.0     BAIK
2010-01-04  DKI1 (Bunderan HI)  22.0   2.0  16.0  15.0   6.0     BAIK
2010-01-05  DKI1 (Bunderan HI)  25.0   2.0  17.0  15.0   8.0     BAIK
...                        ...   ...   ...   ...   ...   ...      ...
2021-12-27  DKI1 (Bunderan HI)  52.0  61.0  15.0  20.0  15.0   SEDANG
2021-12-28  DKI1 (Bunderan HI)  51.0  53.0  15.0  18.0  13.0   SEDANG
2021-12-29  DKI1 (Bunderan HI)  31.0  54.0  10.0  24.0  11.0   SEDANG
2021-12-30  DKI1 (Bunderan HI)  55.0  53.0  16.0  23.0  14.0   SEDANG
2021-12-31  DKI1 (Bunderan HI)  62.0  52.0  23.0  20.0  14.0   SEDANG

[4271 rows x 7 columns]

In [97]:
aqi.index = pd.to_datetime(aqi.index)

In [98]:
aqi.index

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', name='tanggal', length=4271, freq=None)

In [99]:
aqi = aqi[aqi.index >= '2012-11-27']


aqi

                       stasiun  pm10   so2    co    o3   no2 categori
tanggal
2012-11-27  DKI1 (Bunderan HI)  20.0  37.0  52.0  48.0  18.0   SEDANG
2012-11-28  DKI1 (Bunderan HI)  19.0  30.0  29.0  47.0  16.0     BAIK
2012-11-29  DKI1 (Bunderan HI)  65.0  32.0  39.0  97.0  21.0   SEDANG
2012-11-30  DKI1 (Bunderan HI)  76.0  30.0  56.0  94.0  19.0   SEDANG
2012-12-01  DKI1 (Bunderan HI)  59.0  30.0  45.0  62.0  17.0   SEDANG
...                        ...   ...   ...   ...   ...   ...      ...
2021-12-27  DKI1 (Bunderan HI)  52.0  61.0  15.0  20.0  15.0   SEDANG
2021-12-28  DKI1 (Bunderan HI)  51.0  53.0  15.0  18.0  13.0   SEDANG
2021-12-29  DKI1 (Bunderan HI)  31.0  54.0  10.0  24.0  11.0   SEDANG
2021-12-30  DKI1 (Bunderan HI)  55.0  53.0  16.0  23.0  14.0   SEDANG
2021-12-31  DKI1 (Bunderan HI)  62.0  52.0  23.0  20.0  14.0   SEDANG

[3230 rows x 7 columns]

In [100]:
aqi.to_csv('filtered_dki1.csv')